In [2]:
import sys, os

# get the absolute path to the repo root
repo_root = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
sys.path.insert(0, repo_root)

from utils import save_fig, save_df

import pandas as pd # type: ignore
import matplotlib.pyplot as plt # type: ignore

In [3]:
bds_df = pd.read_csv("/Users/danielseymour/Developer/EC334-Summative/data/bds2022_vcn4.csv")

In [4]:
bds_df.head()

,year,vcnaics4,firms,estabs,emp,denom,estabs_entry,estabs_entry_rate,estabs_exit,estabs_exit_rate,...,job_destruction_deaths,job_destruction_continuers,job_destruction_rate_deaths,job_destruction_rate,net_job_creation,net_job_creation_rate,reallocation_rate,firmdeath_firms,firmdeath_estabs,firmdeath_emp
0,1978,1131,193,200,3067,2948,42,21.483,33,16.880,...,474,311,16.081,26.633,255,8.651,53.265,22,22,37
1,1978,1132,84,100,1745,1762,12,11.707,17,16.585,...,42,546,2.384,33.381,-51,-2.895,60.971,10,10,25
2,1978,1133,12079,12196,98382,93837,2382,19.806,2043,16.987,...,7320,10648,7.801,19.148,9138,9.738,38.296,1521,1524,5347
3,1978,1141,1504,1540,10486,9559,383,25.008,366,23.898,...,1253,1344,13.108,27.168,1837,19.217,54.336,272,272,799
4,1978,1142,147,147,694,650,34,23.368,31,21.306,...,71,142,10.931,32.794,91,14.011,65.589,25,25,64

In [5]:
bds_df.columns

Index(['year', 'vcnaics4', 'firms', 'estabs', 'emp', 'denom', 'estabs_entry',
       'estabs_entry_rate', 'estabs_exit', 'estabs_exit_rate', 'job_creation',
       'job_creation_births', 'job_creation_continuers',
       'job_creation_rate_births', 'job_creation_rate', 'job_destruction',
       'job_destruction_deaths', 'job_destruction_continuers',
       'job_destruction_rate_deaths', 'job_destruction_rate',
       'net_job_creation', 'net_job_creation_rate', 'reallocation_rate',
       'firmdeath_firms', 'firmdeath_estabs', 'firmdeath_emp'],
      dtype='object')

In [ ]:
#    â€“ Or absolute path:
# df = pd.read_csv("/Users/danielseymour/Developer/EC334-Summative/data/bds2022_vcn4.csv")

# 3) Quick sanity checks
print(df.shape)         # rows, cols
print(df.columns)       # variable names
print(df.dtypes)        # types

# 4) Peek at the top and bottom
display(df.head())      # first 5 rows
display(df.tail())      # last 5 rows

# 5) Missing values & basic stats
print(df.isnull().sum())   # count of NA per column
display(df.describe())     # summary stats for numeric cols

# 6) Simple univariate plots
#    (you can loop over numeric columns, hereâ€™s one example)
numeric_cols = df.select_dtypes(include="number").columns
df[numeric_cols].hist(figsize=(10, 8), bins=20)
plt.tight_layout()
plt.show()