In [ ]:
import sys, os

# get the absolute path to the repo root
repo_root = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
sys.path.insert(0, repo_root)

from utils import save_fig, save_df

import pandas as pd # type: ignore
import matplotlib.pyplot as plt # type: ignore

In [3]:
import sys
import subprocess
subprocess.check_call([sys.executable, "-m", "pip", "install", "openpyxl"])

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

WARNING: You are using pip version 21.2.3; however, version 25.1.1 is available.
You should consider upgrading via the '/Users/danielseymour/Developer/EC334-Summative/.venv/bin/python -m pip install --upgrade pip' command.

0

In [ ]:
# Import necessary libraries
import pandas as pd

# Read the Excel file
file_path = '/Users/danielseymour/Developer/EC334-Summative/data/major-industry-total-factor-productivity-klems.xlsx'
sectoral_tfp_df = pd.read_excel(file_path, skiprows=2)

,NAICS,Industry,Basis,Measure,Units,1987,1988,1989,1990,1991,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,11,"Agriculture, forestry, fishing, and hunting",All workers,Total factor productivity,Index (2017=100),68.776,63.369,66.843,70.492,71.025,...,94.762,98.336,101.636,100,101.95,98.023,98.695,100.794,98.656,101.821
1,11,"Agriculture, forestry, fishing, and hunting",All workers,Real sectoral output,Index (2017=100),72.72,69.774,73.276,76.132,76.815,...,96.435,96.605,100.246,100,98.864,97.441,104.338,104.053,96.543,98.312
2,11,"Agriculture, forestry, fishing, and hunting",All workers,Combined inputs,Index (2017=100),105.735,110.107,109.624,108.002,108.151,...,101.766,98.24,98.632,100,96.973,99.406,105.718,103.233,97.858,96.554
3,11,"Agriculture, forestry, fishing, and hunting",All workers,Capital input,Index (2017=100),101.071,105.418,106.614,105.037,103.572,...,102.654,100.559,98.793,100,101.437,101.012,101.146,104.809,110.118,109.055
4,11,"Agriculture, forestry, fishing, and hunting",All workers,Labor input,Index (2017=100),101.747,102.008,102.67,97.387,97.483,...,90.772,97.836,100.952,100,98.561,99.868,100.496,98.994,97.308,96.06

In [12]:
sectoral_tfp_df.tail(80)

,NAICS,Industry,Basis,Measure,Units,1987,1988,1989,1990,1991,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
7210,81,"Other services, except government",All workers,Intermediate inputs,Index (2017=100),41.62,45.188,47.206,48.082,45.696,...,89.016,91.086,98.233,100,100.471,104.387,96.109,106.774,119.361,134.539
7211,81,"Other services, except government",All workers,Energy input,Index (2017=100),90.843,96.795,102.575,107.986,103.349,...,97.475,103.117,108.556,100,105.52,110.961,99.412,105.184,111.67,116.236
7212,81,"Other services, except government",All workers,Materials input,Index (2017=100),60.305,64.047,64.747,63.926,61.848,...,87.355,79.619,90.994,100,101.317,105.944,101.78,111.922,130.633,136.938
7213,81,"Other services, except government",All workers,Services input,Index (2017=100),29.416,32.824,35.481,37.168,34.692,...,89.4,96.428,101.47,100,99.786,103.262,93.034,104.211,113.922,134.404
7214,81,"Other services, except government",All workers,Sectoral output price deflator,Index (2017=100),46.796,48.397,49.947,51.659,53.159,...,94.578,96.235,98.052,100,102.302,105.285,108.365,112.823,120.815,129.282
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7285,81,"Other services, except government",All workers,Labor share,Percentage,0.533,0.527,0.524,0.53,0.537,...,0.492,0.502,0.498,0.497,0.5,0.497,0.485,0.456,0.47,0.455
7286,81,"Other services, except government",All workers,Intermediate inputs share,Percentage,0.414,0.421,0.419,0.416,0.41,...,0.457,0.446,0.452,0.447,0.44,0.443,0.447,0.46,0.469,0.479
7287,81,"Other services, except government",All workers,Energy share,Percentage,0.019,0.019,0.019,0.02,0.02,...,0.018,0.015,0.014,0.014,0.015,0.015,0.013,0.016,0.017,0.014
7288,81,"Other services, except government",All workers,Materials share,Percentage,0.214,0.213,0.204,0.195,0.193,...,0.15,0.129,0.138,0.147,0.145,0.147,0.155,0.16,0.172,0.161
7289,81,"Other services, except government",All workers,Services share,Percentage,0.181,0.19,0.195,0.201,0.197,...,0.289,0.301,0.3,0.286,0.279,0.281,0.278,0.285,0.28,0.304

In [15]:
sectoral_tfp_df.shape

(7290, 42)

In [16]:
sectoral_tfp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7290 entries, 0 to 7289
Data columns (total 42 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NAICS     7290 non-null   object
 1   Industry  7290 non-null   object
 2   Basis     7290 non-null   object
 3   Measure   7290 non-null   object
 4   Units     7290 non-null   object
 5   1987      7290 non-null   object
 6   1988      7290 non-null   object
 7   1989      7290 non-null   object
 8   1990      7290 non-null   object
 9   1991      7290 non-null   object
 10  1992      7290 non-null   object
 11  1993      7290 non-null   object
 12  1994      7290 non-null   object
 13  1995      7290 non-null   object
 14  1996      7290 non-null   object
 15  1997      7290 non-null   object
 16  1998      7290 non-null   object
 17  1999      7290 non-null   object
 18  2000      7290 non-null   object
 19  2001      7290 non-null   object
 20  2002      7290 non-null   object
 21  2003      7290 non-null   object
 22  2004      7290 non-null   object
 23  2005      7290 non-null   object
 24  2006      7290 non-null   object
 25  2007      7290 non-null   object
 26  2008      7290 non-null   object
 27  2009      7290 non-null   object
 28  2010      7290 non-null   object
 29  2011      7290 non-null   object
 30  2012      7290 non-null   object
 31  2013      7290 non-null   object
 32  2014      7290 non-null   object
 33  2015      7290 non-null   object
 34  2016      7290 non-null   object
 35  2017      7290 non-null   object
 36  2018      7290 non-null   object
 37  2019      7290 non-null   object
 38  2020      7290 non-null   object
 39  2021      7290 non-null   object
 40  2022      7290 non-null   object
 41  2023      7290 non-null   object
dtypes: object(42)
memory usage: 2.3+ MB