In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath = '/Users/danielseymour/Developer/EC334-Summative/raw_data/productivity_data/total_factor_productivity.csv'

df = pd.read_csv(filepath)
df.head()

,naics4,year,sd,d7525,d9010,d9990,d1001,sd*,d7525*,d9010*,d9990*,d1001*
0,3111,1987.0,0.2883,0.2239,0.6477,0.6196,0.1455,0.2789,0.1947,0.4894,0.8043,0.1535
1,3111,1988.0,0.2782,0.1996,0.5330,0.8425,0.1384,0.3102,0.1529,0.5752,0.8945,0.1245
2,3111,1989.0,0.3253,0.1840,0.7220,0.7709,0.1533,0.3094,0.1547,0.5261,0.8397,0.1173
3,3111,1990.0,0.2954,0.2001,0.5154,1.037,0.1929,0.2927,0.1822,0.4714,0.7978,0.1004
4,3111,1991.0,0.2842,0.2235,0.5372,0.6796,0.2426,0.2842,0.1806,0.4711,0.7504,0.2352

In [4]:
# Convert object columns to numeric
columns_to_convert = ['d9990', 'd1001', 'd9990*', 'd1001*']

for col in columns_to_convert:
   df[col] = pd.to_numeric(df[col], errors='coerce')

In [5]:
df.describe()

,year,sd,d7525,d9010,d9990,d1001,sd*,d7525*,d9010*,d9990*,d1001*
count,2924.000000,2924.000000,2924.000000,2924.000000,2907.000000,2908.000000,2924.000000,2924.000000,2924.000000,2916.000000,2916.000000
mean,2003.500000,0.438629,0.500009,1.049623,0.766493,0.310975,0.361527,0.468077,0.874176,0.546568,0.253179
std,9.812386,0.149306,0.213762,0.389669,0.451225,0.189244,0.135884,0.274022,0.358649,0.231751,0.134611
min,1987.000000,0.158000,0.085440,0.348700,0.002956,0.002989,0.118400,0.063080,0.223600,0.010580,0.001094
25%,1995.000000,0.342675,0.372500,0.810275,0.461050,0.215100,0.285450,0.330700,0.671175,0.384150,0.164475
50%,2003.500000,0.409700,0.451950,0.968750,0.662900,0.290700,0.339850,0.415750,0.812300,0.513100,0.236350
75%,2012.000000,0.496425,0.566825,1.178000,0.952200,0.375500,0.406150,0.534175,1.003000,0.663975,0.310800
max,2020.000000,1.726000,2.125000,4.182000,4.010000,4.321000,1.574000,3.243000,3.756000,1.826000,1.233000

In [8]:
# Select only the columns with asterisks
asterisk_cols = ['sd*', 'd7525*', 'd9010*', 'd9990*', 'd1001*']

# Get descriptive statistics for these columns
desc_stats = df[asterisk_cols].describe()

# Transpose to have variables as rows (standard format for econ papers)
desc_stats = desc_stats.T

# Select key statistics typically shown in economics papers
desc_stats = desc_stats[['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max']]

# Rename columns to be more formal
desc_stats.columns = ['N', 'Mean', 'Std. Dev.', 'Min', 'p25', 'Median', 'p75', 'Max']

# Create nicer row labels
row_labels = {
    'sd*': 'Productivity Dispersion (SD)',
    'd7525*': 'Productivity Dispersion (75-25)',
    'd9010*': 'Productivity Dispersion (90-10)', 
    'd9990*': 'Productivity Dispersion (99-90)',
    'd1001*': 'Productivity Dispersion (10-1)'
}
desc_stats.index = desc_stats.index.map(row_labels)

# Round to 3 decimal places
desc_stats = desc_stats.round(3)

# Convert to LaTeX
latex_table = desc_stats.to_latex(
    float_format="%.3f",
    caption="Descriptive Statistics: Employment-Weighted Productivity Dispersion Measures (4-digit NAICS)",
    label="tab:prod_dispersion_stats",
    column_format='lrrrrrrrr'  # left-align first column, right-align numbers
)

# Print the LaTeX code
print(latex_table)

# Save to file - CORRECTED PATH WITH FILENAME
with open('/Users/danielseymour/Developer/EC334-Summative/tables/prod_dispersion_stats.tex', 'w') as f:
    f.write(latex_table)

# Also display the dataframe
print("\nDescriptive Statistics:")
print(desc_stats)
print("\nLaTeX table saved to: /Users/danielseymour/Developer/EC334-Summative/tables/prod_dispersion_stats.tex")

\begin{table}
\caption{Descriptive Statistics: Employment-Weighted Productivity Dispersion Measures (4-digit NAICS)}
\label{tab:prod_dispersion_stats}
\begin{tabular}{lrrrrrrrr}
\toprule
 & N & Mean & Std. Dev. & Min & p25 & Median & p75 & Max \\
\midrule
Productivity Dispersion (SD) & 2924.000 & 0.362 & 0.136 & 0.118 & 0.285 & 0.340 & 0.406 & 1.574 \\
Productivity Dispersion (75-25) & 2924.000 & 0.468 & 0.274 & 0.063 & 0.331 & 0.416 & 0.534 & 3.243 \\
Productivity Dispersion (90-10) & 2924.000 & 0.874 & 0.359 & 0.224 & 0.671 & 0.812 & 1.003 & 3.756 \\
Productivity Dispersion (99-90) & 2916.000 & 0.547 & 0.232 & 0.011 & 0.384 & 0.513 & 0.664 & 1.826 \\
Productivity Dispersion (10-1) & 2916.000 & 0.253 & 0.135 & 0.001 & 0.164 & 0.236 & 0.311 & 1.233 \\
\bottomrule
\end{tabular}
\end{table}


Descriptive Statistics:
                                      N   Mean  Std. Dev.    Min    p25  \
Productivity Dispersion (SD)     2924.0  0.362      0.136  0.118  0.285
Productivity Dispersion (75-25)  2924.0  0.468      0.274  0.063  0.331
Productivity Dispersion (90-10)  2924.0  0.874      0.359  0.224  0.671
Productivity Dispersion (99-90)  2916.0  0.547      0.232  0.011  0.384
Productivity Dispersion (10-1)   2916.0  0.253      0.135  0.001  0.164

                                 Median    p75    Max
Productivity Dispersion (SD)      0.340  0.406  1.574
Productivity Dispersion (75-25)   0.416  0.534  3.243
Productivity Dispersion (90-10)   0.812  1.003  3.756
Productivity Dispersion (99-90)   0.513  0.664  1.826
Productivity Dispersion (10-1)    0.236  0.311  1.233

LaTeX table saved to: /Users/danielseymour/Developer/EC334-Summative/tables/prod_dispersion_stats.tex

In [3]:
df.columns

Index(['naics4', 'year', 'sd', 'd7525', 'd9010', 'd9990', 'd1001', 'sd*',
       'd7525*', 'd9010*', 'd9990*', 'd1001*'],
      dtype='object')

In [6]:
df.dtypes

naics4     object
year      float64
sd        float64
d7525     float64
d9010     float64
d9990      object
d1001      object
sd*       float64
d7525*    float64
d9010*    float64
d9990*     object
d1001*     object
naics3     object
dtype: object

In [ ]:


# Create 3-digit NAICS from 4-digit
df['naics3'] = df['naics4'].astype(str).str[:3]

# Select all employment-weighted (asterisk) variables
weighted_vars = ['sd*', 'd7525*', 'd9010*', 'd9990*', 'd1001*']

# Aggregate to 3-digit level using simple average of weighted measures
df_3digit = df.groupby(['year', 'naics3'])[weighted_vars].mean().reset_index()

# Rename columns for clarity (remove asterisk and add _weighted suffix)
new_column_names = ['year', 'naics3'] + [col.replace('*', '_weighted') for col in weighted_vars]
df_3digit.columns = new_column_names

# Sort by year and naics3
df_3digit = df_3digit.sort_values(['year', 'naics3']).reset_index(drop=True)

# Display summary
print("New dataframe shape:", df_3digit.shape)
print("\nColumns in new dataframe:")
print(df_3digit.columns.tolist())

print("\nFirst 10 rows:")
print(df_3digit.head(10))

# Save the aggregated data
output_path = '/Users/danielseymour/Developer/EC334-Summative/processed_data/prod_dispersion_3digit.csv'
df_3digit.to_csv(output_path, index=False)
print(f"\nData saved to: {output_path}")

New dataframe shape: (714, 7)

Columns in new dataframe:
['year', 'naics3', 'sd_weighted', 'd7525_weighted', 'd9010_weighted', 'd9990_weighted', 'd1001_weighted']

First 10 rows:
     year naics3  sd_weighted  d7525_weighted  d9010_weighted  d9990_weighted  \
0  1987.0    311     0.354389        0.454756        0.829211        0.614000
1  1987.0    312     0.645850        1.247300        1.459650        0.330300
2  1987.0    313     0.239200        0.298267        0.588533        0.425067
3  1987.0    314     0.306750        0.342400        0.753750        0.499450
4  1987.0    315     0.312333        0.429467        0.744533        0.490167
5  1987.0    316     0.274667        0.323733        0.620433        0.471567
6  1987.0    321     0.226633        0.283233        0.549333        0.354300
7  1987.0    322     0.227000        0.320800        0.550350        0.328000
8  1987.0    323     0.296100        0.317200        0.720200        0.546900
9  1987.0    324     0.231500        0.156500        0.281500        0.914900

   d1001_weighted
0        0.186493
1        0.249250
2        0.128047
3        0.162200
4        0.253500
5        0.231200
6        0.222100
7        0.201900
8        0.249500
9        0.010780

Data saved to: /Users/danielseymour/Developer/EC334-Summative/processed_data/prod_dispersion_3digit.csv

In [11]:
df.describe()

,year,sd,d7525,d9010,d9990,d1001,sd*,d7525*,d9010*,d9990*,d1001*
count,2924.000000,2924.000000,2924.000000,2924.000000,2907.000000,2908.000000,2924.000000,2924.000000,2924.000000,2916.000000,2916.000000
mean,2003.500000,0.438629,0.500009,1.049623,0.766493,0.310975,0.361527,0.468077,0.874176,0.546568,0.253179
std,9.812386,0.149306,0.213762,0.389669,0.451225,0.189244,0.135884,0.274022,0.358649,0.231751,0.134611
min,1987.000000,0.158000,0.085440,0.348700,0.002956,0.002989,0.118400,0.063080,0.223600,0.010580,0.001094
25%,1995.000000,0.342675,0.372500,0.810275,0.461050,0.215100,0.285450,0.330700,0.671175,0.384150,0.164475
50%,2003.500000,0.409700,0.451950,0.968750,0.662900,0.290700,0.339850,0.415750,0.812300,0.513100,0.236350
75%,2012.000000,0.496425,0.566825,1.178000,0.952200,0.375500,0.406150,0.534175,1.003000,0.663975,0.310800
max,2020.000000,1.726000,2.125000,4.182000,4.010000,4.321000,1.574000,3.243000,3.756000,1.826000,1.233000

In [12]:
df_3digit.describe()

,year,sd_weighted,d7525_weighted,d9010_weighted,d9990_weighted,d1001_weighted
count,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000
mean,2003.500000,0.352116,0.449519,0.843231,0.551058,0.250081
std,9.817586,0.097937,0.188211,0.264212,0.147541,0.086559
min,1987.000000,0.126400,0.088000,0.238700,0.168375,0.010780
25%,1995.000000,0.296500,0.353327,0.702175,0.452837,0.194802
50%,2003.500000,0.335800,0.420446,0.804120,0.542156,0.244279
75%,2012.000000,0.374400,0.483754,0.908825,0.638575,0.291501
max,2020.000000,0.750100,1.443850,1.852000,1.240367,0.786200