In [3]:
import pandas as pd

In [4]:
filepath = '/Users/danielseymour/Developer/EC334-Summative/raw_data/productivity_data/BEA-BLS industry-level production account_1987-2018.csv'

df = pd.read_csv(filepath, skiprows=1, header=None)

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Industry Description,1987.000,1988.000,1989.000,1990.000,1991.000,1992.000,1993.000,1994.000,1995.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Farms,56.821,50.492,57.365,61.917,62.269,71.912,63.745,77.129,61.427,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Forestry, fishing, and related activities",94.939,85.808,86.393,85.933,84.609,80.613,72.447,77.559,78.443,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Oil and gas extraction,87.727,94.900,88.599,84.909,86.946,81.286,82.749,91.822,100.901,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Mining, except oil and gas",61.800,76.042,77.175,81.343,87.695,88.843,91.154,102.959,99.232,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN