In [2]:
import sys, os

# get the absolute path to the repo root
repo_root = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
sys.path.insert(0, repo_root)

from utils import save_fig, save_df

import pandas as pd # type: ignore
import matplotlib.pyplot as plt # type: ignore

In [3]:
import sys
import subprocess
subprocess.check_call([sys.executable, "-m", "pip", "install", "openpyxl"])

Requirement already satisfied: openpyxl in /Users/danielseymour/Developer/EC334-Summative/.venv/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/danielseymour/Developer/EC334-Summative/.venv/lib/python3.10/site-packages (from openpyxl) (2.0.0)

WARNING: You are using pip version 21.2.3; however, version 25.1.1 is available.
You should consider upgrading via the '/Users/danielseymour/Developer/EC334-Summative/.venv/bin/python -m pip install --upgrade pip' command.

0

In [6]:
# Import necessary libraries
import pandas as pd

# Read the Excel file
file_path = '/Users/danielseymour/Developer/EC334-Summative/raw_data/productivity_data/major-industry-total-factor-productivity-klems.xlsx'
sectoral_tfp_df = pd.read_excel(file_path, skiprows=2)

In [7]:
sectoral_tfp_df.tail(80)

,NAICS,Industry,Basis,Measure,Units,1987,1988,1989,1990,1991,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
7210,81,"Other services, except government",All workers,Intermediate inputs,Index (2017=100),41.62,45.188,47.206,48.082,45.696,...,89.016,91.086,98.233,100,100.471,104.387,96.109,106.774,119.361,134.539
7211,81,"Other services, except government",All workers,Energy input,Index (2017=100),90.843,96.795,102.575,107.986,103.349,...,97.475,103.117,108.556,100,105.52,110.961,99.412,105.184,111.67,116.236
7212,81,"Other services, except government",All workers,Materials input,Index (2017=100),60.305,64.047,64.747,63.926,61.848,...,87.355,79.619,90.994,100,101.317,105.944,101.78,111.922,130.633,136.938
7213,81,"Other services, except government",All workers,Services input,Index (2017=100),29.416,32.824,35.481,37.168,34.692,...,89.4,96.428,101.47,100,99.786,103.262,93.034,104.211,113.922,134.404
7214,81,"Other services, except government",All workers,Sectoral output price deflator,Index (2017=100),46.796,48.397,49.947,51.659,53.159,...,94.578,96.235,98.052,100,102.302,105.285,108.365,112.823,120.815,129.282
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7285,81,"Other services, except government",All workers,Labor share,Percentage,0.533,0.527,0.524,0.53,0.537,...,0.492,0.502,0.498,0.497,0.5,0.497,0.485,0.456,0.47,0.455
7286,81,"Other services, except government",All workers,Intermediate inputs share,Percentage,0.414,0.421,0.419,0.416,0.41,...,0.457,0.446,0.452,0.447,0.44,0.443,0.447,0.46,0.469,0.479
7287,81,"Other services, except government",All workers,Energy share,Percentage,0.019,0.019,0.019,0.02,0.02,...,0.018,0.015,0.014,0.014,0.015,0.015,0.013,0.016,0.017,0.014
7288,81,"Other services, except government",All workers,Materials share,Percentage,0.214,0.213,0.204,0.195,0.193,...,0.15,0.129,0.138,0.147,0.145,0.147,0.155,0.16,0.172,0.161
7289,81,"Other services, except government",All workers,Services share,Percentage,0.181,0.19,0.195,0.201,0.197,...,0.289,0.301,0.3,0.286,0.279,0.281,0.278,0.285,0.28,0.304

In [8]:
sectoral_tfp_df.shape

(7290, 42)

In [9]:
sectoral_tfp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7290 entries, 0 to 7289
Data columns (total 42 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NAICS     7290 non-null   object
 1   Industry  7290 non-null   object
 2   Basis     7290 non-null   object
 3   Measure   7290 non-null   object
 4   Units     7290 non-null   object
 5   1987      7290 non-null   object
 6   1988      7290 non-null   object
 7   1989      7290 non-null   object
 8   1990      7290 non-null   object
 9   1991      7290 non-null   object
 10  1992      7290 non-null   object
 11  1993      7290 non-null   object
 12  1994      7290 non-null   object
 13  1995      7290 non-null   object
 14  1996      7290 non-null   object
 15  1997      7290 non-null   object
 16  1998      7290 non-null   object
 17  1999      7290 non-null   object
 18  2000      7290 non-null   object
 19  2001      7290 non-null   object
 20  2002      7290 non-null   object
 21  2003      7290 non-null   object
 22  2004      7290 non-null   object
 23  2005      7290 non-null   object
 24  2006      7290 non-null   object
 25  2007      7290 non-null   object
 26  2008      7290 non-null   object
 27  2009      7290 non-null   object
 28  2010      7290 non-null   object
 29  2011      7290 non-null   object
 30  2012      7290 non-null   object
 31  2013      7290 non-null   object
 32  2014      7290 non-null   object
 33  2015      7290 non-null   object
 34  2016      7290 non-null   object
 35  2017      7290 non-null   object
 36  2018      7290 non-null   object
 37  2019      7290 non-null   object
 38  2020      7290 non-null   object
 39  2021      7290 non-null   object
 40  2022      7290 non-null   object
 41  2023      7290 non-null   object
dtypes: object(42)
memory usage: 2.3+ MB

In [10]:
sectoral_tfp_df['NAICS'].unique()

array(['11', '111-112', '113-115', '21', '211', '212', '213', '22', '23',
       'MN', 'DM', 'ND', '321', '327', '331', '332', '333', '334', '335',
       '3361-3363', '3364-3369', '337', '339', '311-312', '313-314',
       '315-316', '322', '323', '324', '325', '326', '42,44-45', '42',
       '44,45', '48-49', '481', '482', '483', '484', '485', '486',
       '487,488,492', '493', '51', '511', '512', '515,517', '518-519',
       '52-53', '52', '521-522', '523', '524', '525', '53', '531',
       '532-533', '54-81', '54-56', '54', '5411', '5415',
       '5412-5414,5416-5419', '55', '56', '561', '562', '61-62', '61',
       '62', '621', '622-623', '624', '71-72', '71', '711-712', '713',
       '72', '721', '722', '81'], dtype=object)